@model IEnumerable<EmployeeManagement.Models.Department>

@{
    ViewData["Title"] = "Index";
}

@if (ViewBag.ErrorMessage != null)
{
    <div class="alert alert-danger">
        @ViewBag.ErrorMessage
    </div>   
}
else
{
<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DeptID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeptName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DeptID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeptName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.DeptID }) |
                @Html.ActionLink("Details", "Details", new { id=item.DeptID}) |
                @Html.ActionLink("Delete", "Delete", new { id=item.DeptID })
            </td>
        </tr>
}
    </tbody>
</table>
}
